snippet fn "function"
	func $1($2){

		$3
	  return ();
	}


snippet str "storagevar"

	@storage_var
	func $1() -> (res : $2){
	}



snippet event "event"

	@event
	func $1($2){
	}





snippet co "constructor"

	@constructor
	func $1{$2}($3){

		$4
	  return ();
	}



snippet start "start contract"
	%lang starknet

	from starkware.cairo.common.uint256 import Uint256
	from starkware.cairo.common.cairo_builtins import HashBuiltin
	// from contracts.utils.Uint256Utils import feltToUint256

	namespace $1{

	}



snippet starti "start contract"
	%lang starknet

	from starkware.cairo.common.uint256 import Uint256

	@contract_interface
	namespace I$1{

	}


snippet errM "error message"
	with_attr error_message("$1"){

		$2
		// assert
	}


snippet  pK "partitioned key"
	let (key) = hash2{hash_ptr=pedersen_ptr}($1, $2);
	let ($3Key) = feltToUint256(key);


snippet aC "add comment"
	/////////////////////////////////////////////
	//                 $1                  //
	/////////////////////////////////////////////


snippet uC "uint check"
	with_attr error_message("$1: $2 is not a valid Uint256"){

	  uint256_check(_$2);
	}



snippet adC "add comment"
	/
	/ @$1 $2
	/

