snippet clg "console.log(b,b)"
	console.log(${1:'$2', $2});


snippet function "function a () b"
	function $1 ($2) $3{

	}


snippet contract "contract{}"
	// SPDX-License-Identifier: UNLICENSE
	pragma solidity ^0.8.0;
	contract $1{

	}


snippet require "require " b
	require($1, "$2");



snippet recieve "recieve callback"
	recieve() payable{

	}




