snippet error "get(async(req,res)=>{})"
  return next(new AppError("$1",$2))
endsnippet

snippet col "console.log('=== hola')"
  console.log('=== $1')
endsnippet

snippet clg "console.log(hola)"
console.log($1)
endsnippet

snippet try "try and catch"
  try{
  
  }catch(${1:error}){
  
  }
endsnippet

snippet ress "res.json"
res.status($1)
.json({
	success: true,
	status: "success",
	$2
})
endsnippet


snippet rhc "React hook" b
  export type $1 = {
  
  }
  
  const $1 = ({}: $1) => {
  
  	return {}
  }
  
  export default $1;
endsnippet

