snippet clg "console.log(b,b)" b
console.log(${1:'$2', $2});
endsnippet

snippet function "function a () b"
function $1 ($2) $3{

}
endsnippet

snippet contract "contract{}"
// SPDX-License-Identifier: UNLICENSE
pragma solidity ^0.8.0;
contract $1{

}
endsnippet

snippet require "require " b
require($1, "$2");

endsnippet

snippet recieve "recieve callback"
recieve() payable{

}
endsnippet



